In [3]:
import pandas as pd
import numpy as np

In [4]:
labels=['w','x','y','z']
list=[10,20,30,40]
array=np.array([10,20,30,40])
dict={'w':10,'x':20,'y':30,'z':40}

In [5]:
pd.Series(data=list)

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
pd.Series(data=list,index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [7]:
pd.Series(array,labels)

w    10
x    20
y    30
z    40
dtype: int32

In [8]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

### Data frame and indexing

In [10]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [11]:
sports1['cricket']

1

In [12]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [13]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [20]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

df1['Score3']

A    0.967630
B    0.831773
C    0.312581
D    0.071372
E    0.702401
F    0.672305
G    0.372588
H    0.101410
Name: Score3, dtype: float64

In [21]:
df1[['Score2','Score1']]

df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.248678  0.557327  0.967630  0.534144  0.412394  0.806005
B  0.726406  0.295095  0.831773  0.770903  0.441245  1.021501
C  0.205263  0.517968  0.312581  0.002323  0.736885  0.723231
D  0.498420  0.686638  0.071372  0.101319  0.870386  1.185057
E  0.183484  0.589964  0.702401  0.741564  0.021526  0.773448
F  0.687411  0.819801  0.672305  0.488278  0.899535  1.507211
G  0.569012  0.226284  0.372588  0.909199  0.339100  0.795297
H  0.044204  0.320159  0.101410  0.245507  0.627796  0.364363

In [22]:
df1.drop('Score5',axis=1)

     Score1    Score2    Score3    Score4    Score6
A  0.248678  0.557327  0.967630  0.534144  0.806005
B  0.726406  0.295095  0.831773  0.770903  1.021501
C  0.205263  0.517968  0.312581  0.002323  0.723231
D  0.498420  0.686638  0.071372  0.101319  1.185057
E  0.183484  0.589964  0.702401  0.741564  0.773448
F  0.687411  0.819801  0.672305  0.488278  1.507211
G  0.569012  0.226284  0.372588  0.909199  0.795297
H  0.044204  0.320159  0.101410  0.245507  0.364363

In [23]:
df1.reset_index()

  index    Score1    Score2    Score3    Score4    Score5    Score6
0     A  0.248678  0.557327  0.967630  0.534144  0.412394  0.806005
1     B  0.726406  0.295095  0.831773  0.770903  0.441245  1.021501
2     C  0.205263  0.517968  0.312581  0.002323  0.736885  0.723231
3     D  0.498420  0.686638  0.071372  0.101319  0.870386  1.185057
4     E  0.183484  0.589964  0.702401  0.741564  0.021526  0.773448
5     F  0.687411  0.819801  0.672305  0.488278  0.899535  1.507211
6     G  0.569012  0.226284  0.372588  0.909199  0.339100  0.795297
7     H  0.044204  0.320159  0.101410  0.245507  0.627796  0.364363

In [24]:
df1.reset_index()

  index    Score1    Score2    Score3    Score4    Score5    Score6
0     A  0.248678  0.557327  0.967630  0.534144  0.412394  0.806005
1     B  0.726406  0.295095  0.831773  0.770903  0.441245  1.021501
2     C  0.205263  0.517968  0.312581  0.002323  0.736885  0.723231
3     D  0.498420  0.686638  0.071372  0.101319  0.870386  1.185057
4     E  0.183484  0.589964  0.702401  0.741564  0.021526  0.773448
5     F  0.687411  0.819801  0.672305  0.488278  0.899535  1.507211
6     G  0.569012  0.226284  0.372588  0.909199  0.339100  0.795297
7     H  0.044204  0.320159  0.101410  0.245507  0.627796  0.364363

In [25]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123